.superInput {
    background: -webkit-linear-gradient(135deg, rgb(247, 241, 241) 48%, rgb(55, 210, 217) 98%);
    background: -moz-linear-gradient(135deg, rgb(247, 241, 241) 48%, rgb(55, 210, 217) 98%);
    background: linear-gradient(135deg, rgb(247, 241, 241) 48%, rgb(55, 210, 217) 98%);
   font-weight: 700;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 20px;
}

.errorInput {
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 5px;
    background: -webkit-linear-gradient(135deg, rgb(247, 241, 241) 31%, rgb(217, 55, 55) 100%);
    background: -moz-linear-gradient(135deg, rgb(247, 241, 241) 31%, rgb(217, 55, 55) 100%);
    background: linear-gradient(135deg, rgb(247, 241, 241) 31%, rgb(217, 55, 55) 100%);

}

.error {
    color: red;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;

}